<div>
    <h2>
        <span>Handlers</span>
        <button class="btn btn-primary float-right jh-create-entity create-handler" [routerLink]="['/', { outlets: { popup: ['handler-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Handler
            </span>
        </button>
    </h2>
    <equoid-alert></equoid-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="handlers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Seconds</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let handler of handlers ;trackBy: trackId">
                <td><a [routerLink]="['../handler', handler.id ]">{{handler.id}}</a></td>
                <td>{{handler.seconds}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../handler', handler.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'handler/'+ handler.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'handler/'+ handler.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
