<div class="row">
    <div [ngSwitch]="isAuthenticated()">
        <div class="alert alert-warning" *ngSwitchCase="false">
            To be able to see the graph, you need to login
        </div>
        <div *ngSwitchCase="true">
            <div class="col-md-1">
                <br />
                <button class="toggleStack" (click)="toggleDummy()">{{ isDummyData == true ? 'Real' : 'Dummy' }} Data</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <form>
                    <div class="form-group">
                        <label for="newItem" class="control-label">New frequent:</label>
                        <input type="text" class="form-control" required="required" #newItem />
                    </div>

                    <div class="form-group">
                        <button (click)="addItem(newItem.value)" type="button" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

            <div class="col-md-8">
                <div>
                    <tabset *ngFor="let data of allData; let i = index">
                        <tab heading="Graph" id="tab1">
                            <h1 class="display-3">Graph</h1>
                            <br/>
                            <equoid-topk></equoid-topk>
                            <!-- D3: -->
                            <equoid-piechart [data]='data[0]' [colors]='colors'></equoid-piechart>
                            <!--<pfng-chart-donut [chartData]='chartData' [config]='largeConfig'></pfng-chart-donut>-->
                            <equoid-stackchart [data]='data[1]' [colors]='colors'></equoid-stackchart>
                        </tab>
                    </tabset>
                </div>
            </div>

            <div class="col-sm-12">
                <pfng-toast-notification-list [notifications]="notifications" (onActionSelect)="handleAction($event)" (onCloseSelect)="handleClose($event)"
                    (onViewingChange)="handleViewingChange($event)" [showClose]="true">
                </pfng-toast-notification-list>
            </div>
        </div>
    </div>
</div>