<div class="row">
    <div class="col-md-2">
        <div [ngSwitch]="isAuthenticated()">
            <br /><br /><br /><br /><br /><br /><br /><br />
            <div *ngSwitchCase="true">
                <button class="toggleStack" (click)="toggleDummy()">{{ isDummyData == true ? 'Real' : 'Dummy' }} Data</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h1 class="display-3">Graph</h1>
        <br/>

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">

                <equoid-topk></equoid-topk>
                <!-- D3: -->
                <equoid-piechart [data]='data' [colors]='colors'></equoid-piechart>
                <!--<pfng-chart-donut [chartData]='chartData' [config]='largeConfig'></pfng-chart-donut>-->
                <equoid-stackchart [data]='stackedData' [colors]='colors'></equoid-stackchart>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                To be able to see the graph, you need to login
            </div>
        </div>
    </div>
</div>