/*@import 'bootstrap-variables';*/

/* ==============================================================
Bootstrap tweaks
===============================================================*/
/*
body, h1, h2, h3, h4 {
    font-weight: 300;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}


*/
/*...*/
